  <footer class="animated fadeIn border-top p-5 bg-dark text-white text-center">
  © Copyright 2020 - Erdoğan TURPCU, Ebru YAŞAR, Fatih ATEŞ
  <script type="text/javascript" src="../node_static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../node_static/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../../node_static/js-cookie/src/js.cookie.js"></script>
  <script type="text/javascript" src="../static/js/master.js"></script>
  </footer>
</body>
</html>
