  <footer class="animated fadeIn p-5 text-center" style="background-color:#161923;">
  <h4 class="text-light"><b class="font-weight-bold fs-16">© Copyright 2020 <br>Erdoğan TURPCU, Ebru YAŞAR, Fatih ATEŞ</b></h4>


  </footer>
  <script type="text/javascript" src="/node_static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/node_static/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/node_static/js-cookie/src/js.cookie.js"></script>
  <script type="text/javascript" src="/static/js/master.js"></script>
</body>
</html>
