  <footer id="footer" class="animated fadeIn shadow-lg text-center">
  <div class="container align-items-center d-flex">
    <div class="col-md-12 text-light mb-0">
      <span class="footer-info" >© Copyright 2020 </span>
      <span class="footer-divider" >-</span>
      <span class="footer-info" >Tüm hakları saklıdır.</span>
    </div>
  </div>
  <a href="/contact" class="h5 btn btn-outline-light p-2 pl-4 pr-4 mb-0">İletişim</a>

  </footer>
  <script type="text/javascript" src="/node_static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/node_static/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/node_static/js-cookie/src/js.cookie.js"></script>
  <script type="text/javascript" src="/static/js/master.js"></script>
</body>
</html>
