<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <link href="../../static/css/style.min.css" rel="stylesheet">
</head>

<body>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bar Chart</h4>
          <div>
            <canvas id="bar-chart" height="150"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript" src="node_static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_static/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_static/js-cookie/src/js.cookie.js"></script>
    <script type="text/javascript" src="static/js/components/feather.min.js"></script>
    <script type="text/javascript" src="static/js/components/pages/chartjs/chartjs.init.js"></script>
    <script type="text/javascript" src="static/js/components/libs/chart.js/dist/Chart.min.js"></script>
</body>

</html>
