.toggle-button-cover
{
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover
{
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px!important;
    height: 36px;
    margin: -20px auto 0 auto;
    /*overflow: hidden;*/
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 74px;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius:2px;
}
#button-15 .knobs:before, #button-15 .knobs:after
{
    position: absolute;
    top: 4px;
    width: 55px;
    height: 28px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    opacity: 1;
    border-radius: 2px;
    transform: scale(1);
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-15 .knobs:before
{
    content: 'GÖSTER';
    left: 4px;
    background-color: #03A9F4;
}

#button-15 .knobs:after
{
    content: 'GİZLE';
    right: 4px;
    opacity: 0;
    transform: scale(4);
    background-color: #F44336;
}

#button-15 .checkbox:checked + .knobs:before
{
    opacity: 0;
    transform: scale(4);
}

#button-15 .checkbox:checked + .knobs:after
{
    opacity: 1;
    transform: scale(1);
}

#button-15 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}
