*{
  transition: .3s;
}
.auto-height{
  height:auto!important;
}
.z-index-9{
  z-index: 9;
}
.z-index-99{
  z-index: 99;
}

.angle-double-down:hover{
  color:#28a745!important;
}
.personel-contact-card:hover {
  -webkit-box-shadow: 16px 16px 5px -1px rgba(130,126,130,0.78);
  -moz-box-shadow: 16px 16px 5px -1px rgba(130,126,130,0.78);
  box-shadow: 16px 16px 5px -1px rgba(130,126,130,0.78);
}
/* override yapılan classlar */

.input100{
  padding: 25px!important;
  resize:none;
}
.wrap-input100{
  margin: 0 auto;
}
.sidebar-link{
  color:#818181!important;
}
#sidebar label {
  cursor:pointer;
}
#content {
  overflow: hidden;
}
@media screen and (max-width:1000px) {
  #content {
    padding: 0!important;
  }
}
