<link rel="stylesheet" href="/static/css/sidebar/style.css">
<link rel="stylesheet" href="/static/css/_checkbox.css">
<link rel="stylesheet" href="/static/css/style.min.css">
<%- include('./components/header') %>
<div id="div_wrapper_sonuc" class="wrapper d-flex align-items-stretch" style="min-height: 150vh;">
<%- include('./components/sidebar') %>
<div id="content" class="p-4 p-md-5 pt-5 justify-content-center d-flex">
  <div class="col-md-8 justify-content-center align-items-center m-0 p-0">
    <div id="info" class="col-md-12 mt-5">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Veri setiniz</h4>
        <p id="paragraph_inner_data_set" style="word-break: break-all;font-family:Courier!important"></p>
      </div>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">İşlem Tamam!</h4>
        <p>Şimdi sol tafarındaki menüden istediğin konu başlıklarını seçebilirsin.</p>
        <hr>
        <p class="mb-0">Başka veri girmek istersen <a href="/">tıkla</a>.</p>
      </div>
    </div>
    <div id="histogram" class="animated bounceOut d-none justify-content-center text-center align-items-center">
      <u><h1>Histogram</h1></u><br>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bar Chart</h4>
          <div>
            <canvas id="bar-chart" height="150"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="mod"class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Mod</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="standart_sapma" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Standart Sapma</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="medyan" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Medyan</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="varyans" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Varyans</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="ortalama_mutlak_sapma" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Ortalama Mutlak Sapma</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="degisken_kat_sayi" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Değişken Kat Sayısı</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="harmonik_ortalama" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Harmonik Ortalama</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="aritmetik_ortalama" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Aritmetik Ortalama</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
    <div id="geometrik_ortalama" class="animated bounceOut d-none col-md-12 justify-content-center text-center align-items-center">
      <u><h1>Geometrik Ortalama</h1></u><br>
      <h3></h3>
      <div class="col-md-12 d-flex justify-content-center" >
        <div class="col-md-6">
          <hr>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<%- include('./components/footer') %>
<script type="text/javascript" src="/static/js/post.js"></script>
<script type="text/javascript" src="/node_static/css-element-queries/src/ElementQueries.js"></script>
<script type="text/javascript" src="/node_static/css-element-queries/src/ResizeSensor.js"></script>
<script type="text/javascript">

  var element = document.getElementById('div_wrapper_sonuc');
  new ResizeSensor(element, function() {
      $('#sidebar').height($('#div_wrapper_sonuc').height());
  });

  $('#paragraph_inner_data_set').text(Cookies.getJSON("data-set")["data1"]);
</script>
<script type="text/javascript" src="/static/js/sidebar/popper.js"></script>
<script type="text/javascript" src="/static/js/sidebar/main.js"></script>
<!-- HİSTOGRAM GRAFİK İÇİN  -->
<script type="text/javascript" src="static/js/components/feather.min.js"></script>
<script type="text/javascript" src="static/js/components/pages/chartjs/chartjs.init.js"></script>
<script type="text/javascript" src="static/js/components/xtra-lib/chart.js/dist/Chart.min.js"></script>
